* {
  font-family: Tahoma;
  color: white;
  font-size: 12px;
}

#test1 {
  height:122px;
  width:122px;
  border: 4px solid black;
  background-color: red;
  position: relative;
  top: 0;
  left: 0;
  font-family: Tahoma;
  float: left;
  color: white;
  }
  
#test2 {
  height: 112px;
  width:112px;
  border: 4px solid black;
  background-color: blue;
  position: relative;
  font-family:;
  float: left;
  margin-left: 6px;
  font-size: 11px;
  color: white;
}

#test3 {
  height: 148px;
  width:148px;
  border: 6px solid black;
  background-color: blue;
  position: relative;
  float: left;
  margin-left: 6px;
  font-size: 11px;
  color: white;
}

#test4 {
  height:145px;
  width:145px;
  background-color: red;
  border: 6px solid black;
  float: left;
  margin-left: 6px;
}

#test5 {
  height:145px;
  width:145px;
  background-color: red;
  border: 6px solid black;
  float: left;
  margin-left: 6px;
}

#test6 {
  height:83px;
  width:83px;
  background-color: red;
  border: 6px solid black;
  float: left;
  margin-left: 6px;
}

#test7 {
  height:60px;
  width:60px;
  background-color: red;
  border: 6px solid black;
  float: left;
  margin-left: 6px;
}

#test8 {
  height:145px;
  width:145px;
  background-color: red;
  border: 6px solid black;
  float: left;
  margin-left: 6px;
}

#test9 { 
  height: 30px;
  width: 1000px;
  background-color: red;
  border: 3pt solid black;
  float: top;
  }

#test10 {
  height: 30px;
  width: 600px;
  background-color: yellow;
  border: 3pt solid black;
  float: top;
  color: black;
}

#STD1 {
  height: 800px;
  width: 400px;
  background-color: green;
  border: 3pt solid black;
  float: top
}

#STDh1 {
  height: 1000px;
  width: 400px;
  background-color: green;
  border: 3pt solid black;
  float:top
}


#test1:hover {
  background-color: #ff7780;
}

#test2:hover {
  background-color: #09c115;
}
