div {
  border-radius: 100%;
  color: white;
  border: solid 4px black;
  vertical-align: center;
  text-align: center;
  font-family: Verdana;
}
  

#UAW {
  height: 321px;
  width: 312px;
  background-color: blue;
}

#UFCW {
  height: 560px;
  width: 560px;
  background-color: orange;
}

    
    
